* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: grid;
  grid-template-areas: "nav" "header" "about" "skill" "project" "footer";
  text-align: center;
}

header {
  grid-area: header;
  width: 100vw;
  background-color: #316e7d;
  color: aliceblue;
  padding: 8rem 0 4rem;
}
header .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 85%;
  margin: auto;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
header .container img {
  border: 3px solid white;
  border-radius: 50%;
  width: 40vh;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}
header .container h1 {
  font-size: 2rem;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

nav {
  grid-area: nav;
  width: 100vw;
  background-color: #141e24;
  color: antiquewhite;
  place-self: start;
  position: fixed;
  height: 3rem;
  line-height: 3rem;
}
nav .container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: auto;
  width: 85%;
}
nav .container h3 {
  text-align: left;
}
nav .container ul {
  display: flex;
  list-style-type: none;
  width: 40%;
}
nav .container ul li {
  flex: auto;
}
nav .container ul li a {
  color: antiquewhite;
  text-decoration: none;
}
nav .container .hamburgerMenu {
  display: none;
  flex-direction: column;
  height: 21px;
  justify-content: space-between;
}
nav .container .hamburgerMenu span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: antiquewhite;
  border-radius: 3px;
}

.about {
  grid-area: about;
  width: 100vw;
  text-align: center;
  background-color: #aaddff;
  color: #141e24;
}
.about .container {
  display: grid;
  padding: 2rem 0 4rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: auto;
  width: 85%;
}
.about .container p {
  width: 70%;
  text-align: justify;
  justify-self: center;
}

.skill {
  grid-area: skill;
  display: flex;
  background-color: #316e7d;
  color: aliceblue;
  width: 100vw;
  height: 100vh;
}
.skill .container {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: auto;
  width: 90%;
}
.skill .container h2 {
  width: 100%;
  padding: 0 0 1rem;
}
.skill .container .card-skill {
  width: 20%;
  background-color: #f6fbff;
  color: #141414;
  border-radius: 20px;
  padding: 1rem;
  margin: 10px;
  font-size: 1.3rem;
  overflow: hidden;
  display: grid;
  grid-template-areas: "img" "title";
  grid-template-rows: 1fr 0.3fr;
  gap: 0;
  place-items: center;
  place-content: center;
  height: 300px;
}
.skill .container .card-skill img {
  width: 90%;
  grid-area: img;
}
.skill .container .card-skill h3 {
  grid-area: title;
}

.project {
  grid-area: project;
  display: flex;
  width: 100vw;
  height: 65vh;
  background-color: #aaddff;
  color: #141e24;
}
.project .container {
  display: flex;
  padding: 5rem 0 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}
.project .container h2 {
  width: 100%;
  padding: 0 0 1rem;
}
.project .container h2 a:link,
.project .container h2 a:visited {
  color: inherit;
  text-decoration: none;
}
.project .container h2 a:hover,
.project .container h2 :active {
  color: inherit;
  opacity: 0.5;
}
.project .container .more {
  width: 100%;
  text-align: right;
}
.project .container .more a {
  background-color: #141e24;
  text-decoration: none;
  border: 2px solid #141e24;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  color: #aaddff;
}
.project .container .card-project {
  width: 20%;
  background-color: #f6fbff;
  color: #141414;
  border-radius: 20px;
  padding: 1rem;
  margin: 10px;
  font-size: 1.3rem;
  overflow: hidden;
}
.project .container .card-project img {
  width: 100%;
}
.project .container .tombol {
  display: none;
}

footer {
  grid-area: footer;
  background-color: #141e24;
  color: antiquewhite;
  width: 100vw;
  text-align: center;
}
footer .container {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: auto;
  padding: 1.5rem 0;
  width: 85%;
  font-size: 0.7rem;
}
footer .container .medsos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.6rem;
  padding: 0.7rem;
}
footer .container .medsos a {
  color: antiquewhite;
  text-decoration: none;
}
footer .container .medsos a .bi {
  font-size: 5vh;
}
footer .container .medsos a:hover .bi-instagram {
  background-image: linear-gradient(to top right, #ffdc80, #fcaf45, #f77737, #f56040, #fd1d1d, #e1306c, #c13584, #833ab4);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .container .medsos a:hover .bi-facebook {
  color: #206aff;
}
footer .container .medsos a:hover .bi-whatsapp {
  color: #25d366;
}
footer .container .medsos a:hover .bi-twitter {
  color: #1da1f2;
}
footer .container .medsos a:hover .bi-telegram {
  color: #0088cc;
}
footer .container .medsos a:hover .bi-line {
  color: #06c755;
}

@media screen and (max-width: 600px) {
  * {
    font-size: 0.8rem;
  }
  h2,
  h3 {
    font-size: 1.1rem;
  }
  header {
    padding: 5rem 0 0;
  }
  header .container {
    display: flex;
    justify-content: space-evenly;
  }
  header .container img {
    margin: auto;
    width: 25vw;
  }
  header .container h1 {
    margin: auto;
    font-size: 170%;
  }
  nav .container ul {
    display: none;
  }
  nav .container .hamburgerMenu {
    display: flex;
  }
  .about .container {
    width: 90%;
  }
  .about .container p {
    width: 100%;
  }
  .skill {
    height: 100vw;
  }
  .skill .container .card-skill {
    width: 60%;
    height: auto;
    font-size: 0.8rem;
  }
  .skill .container .card-skill img {
    width: 30%;
  }
  .project {
    height: 100vw;
  }
  .project .container {
    padding: 0;
  }
  .project .container .more {
    display: none;
  }
  .project .container .card-project {
    display: none;
    width: 70%;
  }
  .project .container .primary {
    display: block;
  }
  footer .container .medsos a .bi {
    font-size: 5vw;
  }
  footer .container p {
    width: 65%;
  }
}/*# sourceMappingURL=main.css.map */