@use "mixin";

header {
  grid-area: header;
  @include mixin.background(gelap);
  padding: 8rem 0 2rem;

  .container {
    @include mixin.container(header);

    img {
      border: 3px solid white;
      border-radius: 50%;
      width: 40vh;
      box-shadow: 0 0 0 4px rgba($color: #000000, $alpha: 0.1);
    }

    h1 {
      font-size: 2rem;
      text-shadow: 0 0 7px rgba($color: #000000, $alpha: 0.9);
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 5rem 0 1.5rem;
    .container {
      img {
        width: 37vw;
      }
      h1 {
        font-size: 2rem;
      }
    }
  }
}
